@media (max-width: 480px) {
    /*.navigation-row {
        padding: 20px 0;
    }*/
    .header #slide-search form input[type="text"] {
        width: 72%;
        font-size: 14px;
    }
    .topbar .top-listed {
        margin-bottom: 10px;
    }
   
    #slide-search form button {
        font-size: 18px;
        max-width: 70px
    }
    .top-listed .dropdown .dropdown-menu {
        left: inherit;
        right: 0;
    }
    .logo img {
        max-width: 100%;
    }
    
    .tabs-holder .nav-tabs>li a {
        padding: 5px 7px;
        font-size: 12px;
    }
    .why-choose-text {
        width: 100%;
    }
    .why-choose-text {
        margin-bottom: 40px;
    }
    .banner .banner-title {
        font-size: 30px;
        line-height: 30px;
    }
    .banner h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    
    
    .why-choose-text h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .why-choose-text h2 {
        font-size: 40px;
    }
   
    
    .accordian-item .panel-heading .panel-title>a {
        font-size: 14px;
    }
    .accordian-item .panel-body {
        padding: 10px 15px;
    }
    .footer-nav li {
        margin-bottom: 10px;
    }
    #wrapper .heading-style1 h2,
    #wrapper .heading-style2 h2 {
        padding: 0;
        font-size: 26px;
    }
    .heading-style1 h2:before,
    .heading-style2 h2:before,
    .heading-style1 h2:after,
    .heading-style2 h2:after {
        display: none;
    }
    .parallax-section:after {
        display: none;
    }
    #wrapper .location-box {
        padding: 20px;
    }
    .location-listed li {
        font-size: 14px;
        padding-left: 35px;
    }
    .location-listed li:before {
        font-size: 24px;
    }
    .location-listed li .btn-style2 {
        margin-top: 30px;
    }
    .testimonial-inner .blockquote {
        padding: 20px;
    }
    .testimonial-inner .blockquote::before,
    .testimonial-inner .blockquote::after {
        font-size: 20px;
    }
    .testimonial-inner .text span {
        margin-left: 0;
        padding-left: 0;
    }
    .testimonial-inner .text span:before {
        display: none;
    }
    .accordian-item .panel-body .thumb {
        width: 100%;
    }
    .accordian-item .panel-body .text {
        width: 100%;
        float: left;
        margin: 15px 0;
    }
    .inner-awwards-holder li,
    .faq-holder .listed>li {
        font-size: 14px;
    }
    .faq-holder .listed>li {
        padding: 12px 10px;
    }
    .faq-tabs-holder .nav-tabs>li,
    .faq-holder .nav-tabs>li {
        margin-bottom: 5px;
    }
    .booking-form-outer2 {
        padding: 20px 10px;
    }
    .blog-item .text .date-box {
        margin: 0 0 20px;
        float: none;
        display: inline-block;
    }
    .blog-item .text {
        text-align: center;
    }
    .blog-item .text h3 {
        font-size: 20px;
    }
    .blog-item .text .date-box span {
        right: 0;
    }
    .blog-item .thumb iframe {
        height: 200px
    }
    #wrapper .blog-item .text::before {
        width: 90%;
    }
    .author-info-holder .thumb {
        margin-right: 15px;
    }
    .comments-listed ul {
        padding-left: 20px;
    }
    .gallery-section .row .col-md-6 .gallery-box .caption {
        padding-top: 20px;
    }
    .footer-about-box p {
        font-size: 16px;
    }
    .top-listed>li {
        padding: 0 10px;
    }
    .app-thumb .app-img1 {
        display: none;
    }
    .mobile-app-section .app-thumb:hover img {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .booking-date .inner,
    .booking-date input[type="text"],
    .booking-date select {
        width: 50px;
    }
    .booking-date .inner {
        margin-right: 4px;
    }
    .taxi-holder .text {
        padding: 10px 20px 30px;
    }
    .choose-btn {
        font-size: 14px;
    }
    .app-btn li {
        width: 45%;
    }
    .app-btn li img {
        width: 100%;
    }
    .pd-tb80 {
        padding: 50px 0;
    }
    .pd-t80 {
        padding-top: 50px;
    }
    .pd-b80 {
        padding-bottom: 50px;
    }
}

@media (max-width: 767px) {
   
    #slide-menu>.navbar-nav {
        margin: 0;
    }
    .nav-holder>.navbar-nav {
        display: none;
    }
    #banner-slider .banner-caption {
        bottom: 30px;
    }
    #slide-search form input[type="text"] {
        width: 85%;
    }
    .topbar {
        width: 100%;
        margin-bottom: 30px;
    }
    .inner-banner {
        padding: 150px 0 100px;
        background: url(../images/banner/inner-banner-img-03.jpg) top left no-repeat;
        background-size: cover;
        text-align: center;
    }
    #inner-contact {
        background: none;
        padding: 0;
    }
    .inner-banner>img {
        display: none;
    }
    .inner-banner-holder h2 {
        font-size: 36px;
        margin: 0 0 20px;
        width: 100%;
    }
    .inner-banner-holder .breadcrumb {
        width: 100%;
        text-align: center;
    }
    .inner-banner .animate-bus {
        display: block;
    }
    .inner-banner-holder {
        bottom: 100px;
    }
    .booking-section {
        padding-top: 50px;
    }
    .why-choose-listed .box {
        padding: 25px 20px;
    }
    .why-choose-listed .box h3 {
        font-size: 26px;
    }
    .why-choose-listed .box>img {
        height: 100%;
    }
    .why-choose-listed .box .icomoon {
        font-size: 50px;
    }
    .parallax-section .parallax-box {
        left: 0;
    }
    .location-box {
        padding: 25px 40px;
    }
    .testimonial-inner .icon {
        margin-left: 10px;
    }
    .footer-nav {
        margin-top: 30px;
    }
    .why-choose-listed>li {
        width: 100%;
        margin-bottom: 30px;
    }
    .why-choose-listed .box:hover,
    .why-choose-listed .box.active {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .parallax-section .parallax-box {
        padding: 30px 20px;
        bottom: inherit;
    }
    .parallax-box h2 {
        font-size: 36px;
    }
    .parallax-box h3 {
        font-size: 24px;
    }
    .parallax-box h3 span {
        font-size: 30px;
    }
    .heading-style1 h2,
    .heading-style2 h2 {
        font-size: 36px;
        padding: 0 50px;
    }
  
    .form-box .inner-holder,
    .form-box .inner-holder2 {
        width: 100%;
    }
    .logo-listed li {
        width: 24%;
    }
    .logo-listed li img {
        width: 100%;
        height: auto;
    }
   
    .mobile-app-section .app-text {
        padding-top: 30px;
    }
    .choose-thumb {
        width: 100%;
        margin-bottom: 30px;
    }
    .choose-thumb img {
        width: 100%;
        border-radius: 0;
    }
    .why-choose-text {
        width: 100%;
    }
    .choose-list li {
        font-size: 16px;
    }
    
    h3 {
        font-size: 24px;
    }
   
    .reservation-box {
        width: 100%;
        padding: 20px;
    }
    
    .heading-style1,
    .heading-style2 {
        margin: 0 0 27px;
    }
    .top-section {
        background-size: cover;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navigation-row {
        padding: 10px 0;
    }
    #banner-slider .banner-caption {
        bottom: 30px;
    }
    #inner-header {
        background-color: #222;
        position: static;
    }
    .topbar {
        margin-bottom: 15px;
    }
    .nav-holder {
        width: 100%;
        margin: 20px 0 0;
    }
   
    .why-choose-listed .box {
        padding: 25px 20px;
    }
    .why-choose-listed .box h3 {
        font-size: 26px;
    }
    .why-choose-listed .box>img {
        height: 100%;
    }
    .why-choose-listed .box .icomoon {
        font-size: 50px;
    }
    
    .footer-nav {
        margin-top: 30px;
    }
    .choose-thumb {
        width: 100%;
        margin-bottom: 30px;
    }
    .choose-thumb img {
        width: 100%;
        border-radius: 0;
    }
    .why-choose-text {
        width: 100%;
    }
    .offers-inner .text {
        padding-left: 120px;
    }
    .offers-inner .icon-holder {
        left: 0;
    }
    .faq-tabs-holder .nav-tabs>li a,
    .faq-holder .nav-tabs>li a {
        font-size: 16px;
        padding: 7px 15px;
    }
    .faq-holder {
        margin-bottom: 30px;
    }
    #inner-map {
        height: 400px;
    }
    .booking-form-outer2,
    .reservation-box {
        width: 100%;
        padding: 40px 70px;
    }
    .inner-banner-holder h2 {
        font-size: 40px;
    }
    .top-section {
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    .banner {
        margin-bottom: 40px;
    }
    .banner:after {
        display: block;
    }
    #banner-slider .banner-caption {
        bottom: 270px;
    }
    .nav-holder .navbar-nav>li>a {
        font-size: 18px;
        font-weight: 500;
        padding: 8px 9px;
    }
    .nav-holder .navbar-nav li a .fa {
        font-size: 16px;
    }
    .nav-holder .nav-right-listed>li {
        padding: 0 12px;
    }
    .advertising-section:after {
        display: block;
    }
    .booking-section {
        padding-top: 26px;
    }
    .inner-banner-holder {
        bottom: 100px;
    }
    .inner-awwards-holder {
        padding: 52px 30px 43px 140px;
    }
    .inner-awwards-holder li {
        font-size: 24px;
    }
    .form-box .inner-holder {
        width: 34.5%;
    }
    .form-box .inner-holder2 {
        width: 28%;
    }
   
    .advertising-section:before {
        display: block;
    }
    .advertising-section {
        margin-top: 50px;
    }
    .footer-nav li {
        font-size: 16px;
        font-weight: 600;
    }
    .parallax-box h2 {
        font-size: 60px;
    }
    .parallax-box h3 {
        font-size: 44px;
    }
    .booking-form-outer .btn-style1 {
        padding: 13px 25px;
    }
}

@media (min-width: 1600px) {
    body {
        position: relative;
        right: 0;
    }
    #banner-slider .banner-caption {
        bottom: 380px;
    }
    .banner .banner-title {
        font-size: 100px;
        line-height: 100px;
    }
    .banner h2 {
        font-size: 48px;
        line-height: 40px;
    }
    .top-section {
        background-size: cover;
    }
}